html, body{
    padding:0;
    margin:0;
    height: 100%;
}
body{
    background-color: #bdc3c7;
}

audio,video{
    width:100%;
}

header{
    position: fixed;
    z-index: 1;
    width:100%;
    text-align:center;
}
.div_menu{
    margin:auto;
    width: 60%;
}
.cont_login{
    background-image: url('../images/portada.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}
.cont_title{
    margin:auto;
    max-width: 900px;
    margin-top: 10%;
}
.cont_title img{
    float:left;
    margin-right:30px;
}
.cont_title h1{
    font-size: 5rem;
    color:white;
    text-shadow:2px 2px 2px black;
}
.cont_title h2{
    font-size:2rem;
    text-align:center;
    color: white;
    font-weight:300;
    text-shadow:2px 2px 1px black;
}

.cont_form_login{
    background-color:white;
    text-align:center !important;
    box-shadow: 3px 3px 2px 2px rgba(0,0,0,0.5);
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 60px;
    max-width: 500px;
}
.ul_menu{
    margin:auto;
    display:block;
    width:100%;
}

    .form_exit{
        display: inline-block;
        vertical-align: middle;
        color:orange;
        margin-left: 10%;
    }
@media (min-width: 768px){
    .navbar-nav > li:last-child {
        float: right;
    }
    .navbar-nav > li:last-child a{
        color:red;
    }
    
}

section{
    padding: 50px 0;
}

.contenedor_salas{
    padding: 50px 0;
    max-width: 92%;
    margin:auto;
    text-align: center;
}
.cont_sala{
    margin-top: 10px;
    overflow: hidden;
}
.contenedor_salas .sala{
    max-width: 45%;
    min-width: 550px;
    display: inline-block;
    margin: 15px 20px;
    padding-top:0 !important;
    background-color:white;
    position: relative;
    box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);
}
.sala .cont_buttons{
    position: absolute;
    right: 10px;
    top: 10px;
}
.sala h1{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    padding-bottom: 10px;
    color: white !important;
    background-color:#555;
    margin:0 !important;
}
.btn-editar-sala{
    margin-right: 5px;
}
            .editar_sala{
                width:95%;
                background-color: white;
                margin:auto;
            }
            .imagen_sala{
                background-size:cover;
                background-position: center;
                height: 200px;
            }
            .qr{
                width: 100%;
                padding: 30px 20px;
                overflow:auto;
                margin: 20px auto;
                
            }
            .qr > h3{
                background-color: #009688;
                color: white;
                padding: 10px 0;
            }
            .boton_nuevo_recurso{
                margin-top: 20px;
                margin-bottom: 10px;
            }
            #rec_qr{
                margin: auto;
                margin-top: 10px;
                margin-bottom: 30px;
            }
            .botones{
                margin-top: 20px;
            }
    .contenedor_salas h1{
        color: #3498db;
        padding-top:5px;
        margin-top:10px;
        margin-bottom: 0;
    }
  
    .contenedor_salas .im_sala{
        float:left;
        margin-top: 40px;
        margin-bottom: 40px;
        width: 30%;
        vertical-align: middle;
    }
    .contenedor_salas .desc_sala{
        float:right;
        width:70%;
        vertical-align: middle;
        padding: 10px 4%;
        height:140px;
        margin-top:40px;
        margin-bottom: 40px;
        overflow: auto;
    }
        .desc_sala p{
            margin: 0;
            padding: 0;
        }
        
        .contenedor_qrs{
    padding: 50px 0;
    max-width: 92%;
    margin:auto;
    text-align: center;
}
    .contenedor_qrs .qr{
        max-width: 45%;
        min-width: 550px;
        display: inline-block;
        margin: 15px 20px;
        background-color:white;
        position: relative;
    }
       
    .contenedor_qr h1{
        color: #3498db;
        padding-top:30px;
        margin-top:30px;
        margin-bottom: 0;
    }
  
    .im_qr{
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .eliminar_qr{
        display:block;
        margin:auto;
        margin-top:5px;
    }
    .modificar-code-qr{
        margin-top:30px;
        display:block;
        margin:auto;
    }
    .medios_qr{
        min-width: 700px;
    }
    .medio{
        height: 175px;
        border:1px solid rgba(0,0,0,0.1);
        padding:0;
    }
    .medio > p{
        overflow-y: auto;
        height: 100%;
        padding: 20px 0;
    }
    .medio > audio{
        position: absolute;
        left:0;
        bottom:0;
    }
    .medio > video{
        background-color:black;
    }
    .botones_multimedia{
        z-index:5;
        position:absolute;
        top:0;
        right:0;
        display:none;
        width:100%;
        background-color:#333;
        text-align: right;
        padding: 5px 5px;
    }

    .cont_idioma{
        padding:10px 10px;
        padding-bottom:0px;
    }
    .cont_idioma h3{
        text-align: left;
        color:salmon;
        
    }
    .contenedor_qr .desc_qr{
        float:right;
        width:52%;
        vertical-align: middle;
        padding: 10px 4%;
    }
        .desc_qr p{
            height: 100%;
        }
   
    .error_message{
        color:red;
    }
    .tabla-recursos{
        max-width: 100%;
        margin:auto;
        background-color:white;
        margin-top:40px;
        border-radius: 5px;
    }
    h1.cont_recursos{
        margin-top: 30px;
        text-align: center;
        font-size: 24px;
    }
    .form-filtro-recursos{
        max-width: 600px;
        margin:auto;
        margin-top: 20px;
        background-color:rgba(255,255,255,0.9);
        padding:30px;
        border-radius: 5px;
    }
    .info-busqueda-recurso{
        margin: 10px 20px;
        color: #009688;
    }
    .cont-secc-recursos{
        max-width: 80%;
        margin:auto;
    }
    .msg-accion{
        margin-top: 40px;
    }
    .cont-form-recursos{
        margin-top: 40px;
        padding: 30px 0px;
        background-image: url('../images/portada.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4);
    }
    .cont-form-sala{
        max-width:65%;
        margin: 10px auto;
        padding: 30px 0px;
        box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4);
        background-image: url('../images/museo.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .form-sala{
        background-color:white;
        border-radius: 5px;
        width:60%;
        padding: 1% 2%;
        margin:auto;
    }
    .cont-form-sala .form-group{

    }
    
    .cont-secc-multimedias{
        max-width: 80%;
        margin:auto;
    }
    
    .cont-form-multimedias{
        margin-top: 40px;
        background-color: red;
        padding: 30px 0px;
        background-image: url('../images/portada.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: 0px 2px 5px 2px rgba(0,0,0,0.4);
    }
    
    .form-filtro-multimedias{
        max-width: 600px;
        margin:auto;
        margin-top: 20px;
        background-color:rgba(255,255,255,0.9);
        padding:30px;
        border-radius: 5px;
    }
    
    .info-busqueda-medios{
        margin: 10px 20px;
        color: #009688;
    }
    
    .tabla-medios{
        max-width: 100%;
        margin:auto;
        background-color:white;
        margin-top:40px;
        border-radius: 5px;
    }
